/* Basic page setup */
body {
  background-color: rgb(233, 179, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  height: 100vh;
}

/* Header Styles */
h1 {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  outline: rgb(0, 0, 0);
}

h2 {
  font-family: cursive;
  color: rgb(0, 0, 0);
}

/* Button Container for toggling MIDI tracks */
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Button Styles */
button {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: width 0.3s;
  width: 150px;
  font-size: medium;
  text-align: center;
  align-items: center;
  padding: 10px;
}

/* Hover effect */
button:hover {
  width: 200px;
}

/* Active and Inactive Button Color */
button.active {
  background-color: green;
  color: white;
}

button.inactive {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Control Sliders */
.control {
  width: 50%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  align-items: center;
  border-radius: 1em;
  padding: 10px;
  margin: 20px;
  text-align: center;
}

/* Label for Sliders */
label {
  font-size: 1.2em;
}

/* Slider Input Styling */
input[type="range"] {
  width: 100%;
  accent-color: orange;
}
